.content{
width: 15%;
margin: 2%;
padding: 1%;
background-color: gray;
}
.my-page{
  background-color: gray;
    padding: 3%;
}
.my-page:hover
{
background-color: darkgray;
}
.my-page a{
    text-decoration: none;
    color: aliceblue;
}
.my-page a:hover{
    color:aquamarine;
}
